
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Max Hutchinson>
-- Date:		<03/02/2020>
-- Description:		<Error log Email>
-- Last Modified By: 	<Max Hutchinson>
-- Last Modified Date: 	<04/02/2020>
-- Last Modified Desc: 	<Made The HTML Table look better>
-- Prerequisite: 
-- 	[spQueryToHtmlTable]
-- 	[usp_rep_process_failure] 
-- =============================================

CREATE procedure [dbo].[SP-AlertErrorLogEmail]

as

begin try

	-- Email Variables 
	declare @default_email varchar(100) = (select default_send_from from dbo.sys_system);
	declare @sysadmin_email varchar(500) = (select sysadmin_email from dbo.sys_system);
	declare @cc_to varchar(100);
	declare @email_subject as varchar(100) ='SQL Server Error Log Incident';
	declare @send_to varchar(500) = @sysadmin_email;--'max.hutchinson258@gmail.co.uk';

	-- Content Variables 
	declare @email_content as varchar(max);
	declare @Body_header as varchar(320);
	declare @Body_Table  as varchar(max);
	declare @Body_Footer as varchar(max);
	declare @Title as varchar(300) = @email_subject;

	-- Query Variables 
	declare @result_sql_query as varchar(max);
	declare @last_X_date Date = Cast(dateadd(day,-7,getdate()) as date) -- 7 days ago.

	-- Make virtual table
	create table #QueryResult (LogDate DATETIME, ProcessInfo VARCHAR(64), [Text] VARCHAR(MAX));
	Declare @TempErrorLog Table (LogDate DATETIME, ProcessInfo VARCHAR(64), [Text] VARCHAR(MAX));

	-- do query 
	INSERT INTO @TempErrorLog
	EXEC sp_readerrorlog --6 -- specify the log number or use nothing for active error log

	INSERT into #QueryResult (LogDate, ProcessInfo, [Text])
	select LogDate, ProcessInfo, [Text]
	FROM @TempErrorLog a
	WHERE EXISTS (SELECT * 
				  FROM @TempErrorLog b
				  WHERE [Text] like 'Error:%'
					AND a.LogDate = b.LogDate
					AND a.ProcessInfo = b.ProcessInfo)
					AND a.LogDate between  @last_X_date and getdate()
	Order by LogDate desc

	set @result_sql_query = N'SELECT * FROM #QueryResult '; -- last change to order or group results 

	-- use Max's amazing HTML Table Formatter to Orchard Styling
	DECLARE @html nvarchar(MAX);
	EXEC [SP-QueryToHtmlTable] @html = @html OUTPUT,  @query = @result_sql_query;

	-- set the Email Body 
	set @Body_header = '<h2>'+ @Title +'</h2>';
	set @Body_Table  =  @html  
	set @Body_Footer = dbo.std_html_footer(@@procid, DB_NAME(), 0); -- This report generated by xxxx

	set @email_content = @Body_header + @Body_Table + @Body_Footer;
	--print @email_content;  -- test print


	-- only if there is a result do we need to send the email
	if (select Count(*) from #QueryResult) != 0
	BEGIN

		-- Send email 
		EXEC msdb.dbo.sp_send_dbmail @from_address = @default_email,
			@profile_name = 'MailProfile',
			@recipients = @send_to,
			@copy_recipients = @cc_to,
			@body = @email_content,  
			@subject = @email_subject,
			@body_format = 'HTML',
			@reply_to = @default_email,
			@query_no_truncate = 1,
			--@attach_query_result_as_file = 1,
			--@query =  @result_sql_query,
			@importance = 'High';

	END

	IF OBJECT_ID('tempdb..##QueryResult') IS NOT NULL DROP TABLE #QueryResult;

end try
begin catch

-- Make error log if someing unexpected happened
	declare @sp_name as varchar(500);
	declare @err_number as varchar(2000);
	set @err_number = ERROR_MESSAGE();
	set @sp_name = (select '['+ cast(SERVERPROPERTY('MachineName') as varchar(100))+'\'+ cast(SERVERPROPERTY('InstanceName') as varchar(100))+'].'+ cast(DB_NAME() as varchar(100))+'.'+ cast(SCHEMA_NAME(o.schema_id) as varchar(100))+'.'+ cast(o.name as varchar(100)) from sys.objects o where o.name = OBJECT_NAME(@@PROCID));
	
	exec [SP-Process-failure] @err_number, @sp_name;

	IF OBJECT_ID('tempdb..##QueryResult') IS NOT NULL DROP TABLE #QueryResult;

end catch;


Usage:
--   exec [SP-AlertErrorLogEmail]